.modal{
    width: 100%;
     background-color: rgba(0, 0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active{
    opacity: 1;
    pointer-events: all;
   
}

.form_modal{
width: 429px;
height: 532px;
margin: auto;
background: #D9D9D9;
}

.mb-3 {
    padding-top: 20px;
}


.button_form {
    display: flex;
    flex-direction: row;
    justify-content: right;
      padding: 10px 30px;
    gap: 24px;
}
button {
    width: 116px;
    height: 33px; background: #44B26F;
    border: none;
}

.input {
    margin: 0px 20px 0px 35px;
   width:360px;
   height: 31px;
}
label{
    width: 80px;
    height: 17px;
        font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
       color: #FFFFFF;}